<!-- customers list -->
<h2>my customers:</h2>
<ul class="customers">
	<li *ngFor="let customer of customers" 
		[class.selected]="customer === selectedCustomer"
			(click)="onSelect(customer)">
		<!-- each customer goes here -->
		<span class="badge">{{customer.id}}</span>
		<span> {{customer.firstName}}</span>
		<button class="delete" 
			(click)="deleteCustomer(customer); $event.stopPropagation()">x</button> 
	</li>
</ul>

<div *ngIf="selectedCustomer">
  <h2>
    {{selectedCustomer.firstName | uppercase}} is my customer
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
	<h2>
  		<label>new customer:</label>
	</h2>
</div>
<div>  
  <label>first name</label> <input #customerFirstName />
</div>
<div>
  <label>last name</label> <input #customerLastName />
</div>
<div>      
  <button (click)="addCustomer(customerFirstName.value, customerLastName.value); 
    customerFirstName.value='';
    customerLastName.value=''">
    Add
  </button>
</div>

