<!-- customer detail -->
<div *ngIf="customer">
	<h3>these are the details for {{customer.firstName}}:</h3>
	<div>
		<label>id: </label>
		{{customer.id}}
	</div>
	<div>
		<label>first name: </label>
		<input [(ngModel)]="customer.firstName" placeholder="first name">
	</div>
	<div>
		<label>last name: </label>
		<input [(ngModel)]="customer.lastName" placeholder="last name">
	</div>
	</div>
		<button (click)="save()">Save</button>
		<button (click)="goBack()">Back</button>
	<div>
</div>